body {
    -webkit-font-smoothing: antialiased;
    background: $black;
    color: $white;
    overflow-x: hidden;
    width: 100%;
    font-family: $font-mada;

    * {
        box-sizing: border-box;
    }
}

h1, h2 {
    font-family: $font-mada;
    font-weight: normal;
    color: $white;
}

h1 {
    font-size: 40px;

    span {
        position: relative;
        top: -8px;
        display: inline-block;
        padding: 3px 8px;
        background-color: #3124dc;
        font-size: 16px;
    }

    @media all and (max-width: 800px) {
        font-size: 29px;
    }
}

a {
    color: $blue-lighter;

    &:focus {
        outline: none;
    }
}

input {
    display: block;
    width: 100%;
    border: 0;
    margin: 10px 0;
    padding: 5px 10px;
}

textarea {
    display: block;
    width: 100%;
    min-height: 100px;
    border: 0;
    margin: 10px 0;
    padding: 5px 10px;
}

#content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 50px;

    @media all and (max-width: 800px) {
        padding: 20px 15px;
    }
}

.scoreboard {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;

    li {
        padding: 10px 20px;
        font-size: 20px;
        color: $dark-gray;
        background-color: $light-blue-gray;
        transition: border-width .3s ease-out;

        &:nth-child(odd) {
            background-color: #d7e0e2;
        }

        &.worth-watching {
            font-weight: 500;
            color: $white;
            background-color: $blue;

            &:nth-child(odd) {
                background-color: #291eb9;
            }

            .away-score, .home-score {
                background-color: $black;
            }
        }

        @media all and (max-width: 800px) {
            font-size: 16px;
        }
    }
}

.away-score, .home-score {
    position: relative;
    top: -2px;
    display: inline-block;
    margin: 0 2px 0 7px;
    padding: 0px 5px;
    background-color: $gray;
    color: $white;
    font-size: 15px;
}

.game-status {
    font-size: 16px;
}

.date-select-btn {
    display: inline-block;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    padding: 8px 15px;
    margin: 0 8px 0 0px;
    transition: all .3s ease-out;

    &.active {
        background-color: transparent!important;
        cursor: default;
    }

    &:hover {
        background-color: $blue-lighter;
    }

    @media all and (max-width: 800px) {
        padding: 8px 12px;
        margin: 0 6px 0 0px;
    }
}

.legal {
    font-size: 13px;
}
